// Debug.xcconfig — fast incremental builds for development.

#include "Common.xcconfig"

SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = singlefile
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf

ENABLE_TESTABILITY = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

ENABLE_NS_ASSERTIONS = YES
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = NO
